html {
    background: url("./PotBackgrounds/Elegant_Background-6.jpg") no-repeat /*center center fixed*/; 
    /*background: url("WebsiteBackground.png") no-repeat center center fixed; 
    */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 200%;
	color: White;
	font-size:84px;
	width: 100%;
}

body#bodyHTML{
	width: 80%;
	color: 	#0000FF;
	/*color: 	white;*/
	margin: auto;
	padding-top: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

button#myButton {
    background-color: purple;
    border: none;
    color: white;
    padding: 5px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia, serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button#myButton:hover {
    background-color: white;
    color: purple;
}

h2 {
    padding-top:20px;
    padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	
	color: white;
	/*mix-blend-mode: same;*/
	/*color: inherit;*/
	/*opacity: 0.6;*/
	/*border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color*/
	background-color: purple;
	opacity: 0.5;

}

body #page-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

body #ArtistList {
	/*color: white;*/
	float: left;
	width: 60%;

	background-color: #0074D9;
	color: white;

	border-radius: 25px;
	padding: 0px; 
}

a {
	color: white;
	text-decoration:none;
}

#message {
	color: white;
	font-family: Georgia, serif;
	padding: 5px 5px 5px 5px;
	float: right;
	border-color: white;
	border-style: solid;
}

/*
li{
    list-style-type: none;
	display:inline;
}
*/

#same {
	width: 200px;
	float: left;
	padding-bottom: 10px;
}

#fancy {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	/*font-style: */
	color:#39CCCC;
}